@CHARSET "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	text-align: center;
}

ul li a{
	text-decoration: none;
}

.clear_div{
	clear: both;
	width: 100%;
	height: 50px;
}
.div_center{
	text-align: center;
}

#web_main{
	clear: both;
	width: 1005px;
	margin: 0px auto;
}

#main_top{
	clear: both;
	width: 100%;
	height: 120px;
	background-color: #6281C0;
}

#main_center{
	clear: both;
	width: 100%;
	text-align: left;
	background-color: F7F7F7;
}
#main_left{
	float: left;
	width: 250px;
}
#main_left ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#main_left ul li{
	width: 220px;
	height: 35px;
	line-height: 35px;
	border: 1px #E7E7E7 solid;
	margin: 10px;
	padding-left: 10px;
}
#main_right{
	float: left;
	width: 755px;
	text-align: center;
}
#main_menu{
	position: absolute;
	margin-top: 50px;
	padding-left: 155px;
}
#main_menu ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#main_menu ul li{
	float: left;
	margin: 5px;
	padding: 5px;
	background-color: #E3E3E3;
	border: 1px #3E3E3E solid;
}
#main_menu ul li a{
	text-decoration: none;
}
#SITE_TITLE{
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
	height: 50px;
	line-height: 50px;
	font-size: 26px;
	border: 1px #777777 solid;
	margin: 5px;
	background-color: #FFFFFF;
}
.pageList{
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.news_list{
	list-style-type: none;
}
.news_list li{
	clear: both;
	text-align: left;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px #DDDDDD solid;
}
#detail_news{
	clear: both;
	width: 100%;
}
#detail_news_title{
	clear: both;
	height: 50px;
	line-height: 50px;
	text-align: left;
	margin: 0px 20px 0px 20px;
	font-size: 26px;
	font-weight: bold;
}
#detail_news_img{
	clear: both;
	width: 100%;
	text-align: center;
}
#detail_news_memoirs{
	clear: both;
	margin: 5px;
	padding: 5px;
	text-align: left;
}

/*後台會員登入*/
#login_main{
	clear: both;
	width: 500px;
	height: 300px;
	margin: 0px auto;
}
#login_main .title{
	clear: both;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}
#login_main .login_div{
	clear: both;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.admin_smenu{
	list-style-type: none;
	margin: 0px;
	padding: 85px 0px 0px 790px;
}
.admin_smenu li{
	float: left;
	padding: 5px;
	font-size: 13px;
}
.new_modify{
	clerar: both;
	width: 100%;
	text-align: left;
}

#modify_detail{
	clear: both;
	width: 100%;
}

/*會員專區*/
#login{
	clear: both;
	margin: 10px;
	text-align: center;
}
#login #login_main{
	clear: both;
	width: 320px;
	height: 165px;
	margin: 0px auto;
	border: 1px #777777 solid;
}
#login_title{
	clear: both;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	font-weight: bold;
}
#login #login_modify{
	clear: both;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}
.joincolor{
	background-color: #E7E7E7;
	margin-bottom: 20px;
}
.modify_div{
	margin-left: 30px;
	height: 30px;
	line-height: 30px;
}
.user_list{
	float: left;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	margin: 5px;
	border: 1px #E7E7E7 solid;
}
.user_list li{
	border: 0px;
}
#contact_main{
	clear: both;
	margin-left: 5px;
	margin-right: 5px;
}